
@{
    ViewBag.Title = "CostumerFlightList";
}
<head>
    <link rel="stylesheet" href="~/Content/menuStyles.css" />
</head>
<div>
    @Html.Partial("_TopMenu")

    <h2>CostumerFlightList</h2>
</div>


