@{
    ViewBag.Title = "Home Page";
}

<div class="login-container">
    <div class="container" id="log_in">
        <h2 class="top-left ml-2 md-2" id="header_color">Iniciar Sesión</h2>
        <p class="lead ml-2 md-2" id="sub_theme">
            Si ya eres socio Airline Plus ingresa con tus datos de siempre
        </p>
        <div class="container">
            <div class="row ml-2">
                <div class="col col-3">
                    <label>Email</label>
                </div>
                <div class="col col-9">
                    <input type="text" class="form-control" placeholder="email Usuario">
                </div>
            </div>
            <div class="row ml-2">
                <div class="col col-3">
                    <label>Contraseña</label>
                </div>
                <div class="col col-9">
                    <input type="text" class="form-control" placeholder="contraseña Usuario">
                </div>
            </div>
            <div class="row">
                <div class="col-9"></div>
                <button type="button" class="btn btn-primary col-3">Iniciar Sesión</button>
                
            </div>
        </div>

    </div>
</div>

