@{
    ViewBag.Title = "Home Page";
}

<div class="container vertical-center" >

    <section id="log_in">

        <h2 class="top-left padding_left" id="header_color">Iniciar Sesión</h2>
        <p class="lead padding_left" id="sub_theme">
            Si ya eres socio Airline Plus ingresa con tus datos de siempre.
        </p>
        <div class="container">
            <div class="row padding_left horizontal-center">
                <label class="col-md-1 ">Email</label>
                <input type="text" class="form-control col-md-11" placeholder="email Usuario">

            </div>
            <div class="row padding_left horizontal-center">
                <label class="col-md-1 ">Contraseña</label>
                <input type="text" class="form-control col-md-11" placeholder="contraseña Usuario">

            </div>
            <div>
                <button type="button" class="btn btn-primary">Iniciar Sesión</button>
            </div>
        </div>
        
        
    </section>
       
</div>

